:root{
  --highlight: #66bb6a;
  --secondary: #bdbdbd;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  transition: .2s;
}

body, html{
  height: 100%;
}

:root{
  font-size: 16px;
  transition: .2s;
}

body{
  background: #fafafa;
  color: #282828;
  font-family: "Roboto", sans-serif;
}

.grid-container{
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 0.5fr 1fr 0.5fr;
  grid-template-rows: 1fr 1fr 2fr 2fr 2fr 0.5fr;
  grid-template-areas: "header header header  . ."
                        "today today . yday ."
                        "weather time . todo ."
                        "news news . todo ."
                        "news news . todo ."
                        ". quote quote . .";

}

@media only screen and (max-width: 769px){
  :root{
    font-size: 12px;
    transition: .2s;
  }
}
