@keyframes spinner{
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}

.overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  display: none;
  transition: .2s;
}

.aword{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 43rem;
  background: var(--background);
  box-shadow: 2px 2px 6px rgba(0,0,0,0.16);
  z-index: 5;
  padding: 2rem;
  display: none;
  border-radius: 4px;
  transition: .2s;
}

.aword h1{
  font-size: 1.5rem;
  font-weight: 300;
}

.aword .byline{
  font-size: 1rem;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

.aword .byline a{
  text-decoration: none;
  color: #1e88e5;
}

.aword .card-container{
  width: 100%;
  min-height: 6rem;
}

.aword .card{
  margin-left: 1rem;
  width: 9rem;
  height: 4.5rem;
  color: var(--foreground);
  box-shadow: 1px 1px 5px rgba(0,0,0,0.16);
  float: left;
  padding: 0.75rem;
  margin-top: 1rem;
}

.aword .card:first-child{
  margin-left: 0;
}

.aword .card .names{
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
  text-align: center;
}

.aword .card .links{
  margin-top: 0.25rem;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.aword .card .links a{
  font-size: 1.35rem;
  margin-left: 0.5rem;
}

.aword .card .links a:first-child{
  margin-left: 0;
}

.insta{
  color: #833AB4;
}

.youtube{
  color: #ff0000;
}

.steam{
  color: #2A475E;
}

.fb{
  color: #3b5998;
}

.header-container{
  grid-area: header;
  margin-left: 7rem;
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo{
  width: 4.5rem;
  margin: 0;
  padding: 0;
}

.title{
  font-size: 3.5em;
  font-weight: 300;
  text-align: left;
  margin: 0;
  padding: 0;
  margin-left: 1rem;
}

.today{
  grid-area: today;
  width: 100%;
  margin-left: 12.5rem;
  display: flex;
  align-items: center;
}

.today h2{
  font-size: 2.5em;
  font-weight: 300;
}

.card{
  grid-area: card;
  position relative;
}

.weather{
  width: 20rem;
  height: 10rem;
  margin-left: 12.5rem;
  background: var(--foreground);
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.16);
  position: relative;
  float: left;
}

.weather-background{
  width: 100%;
  position: absolute;
  bottom: 0;
}

.weather-header{
  display: flex;
  align-items: center;
  padding: 0.3rem;
  margin-top: 0.3rem;
}

.weather-icon{
  color: var(--primary);
  font-size: 2rem;
}

.weather-heading{
  margin-left: 0.5rem;
}

.refresh-icon{
  position: absolute;
  margin-right: 0.3rem;
  right: 0;
  color: var(--secondary);
  font-size: 1.5rem;
  cursor: pointer;
}

.location{
  font-size: 1rem;
}

.last-refreshed{
  font-size: 0.8rem
}

.weather-display{
  z-index: 3;
  position: absolute;
  margin-top: 1rem;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-display h3{
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  width: 100%;
}

.degrees i{
  color: var(--primary);
  animation: spinner 3s infinite linear;
  font-size: 2rem;
}

.description{
  width: 100%;
  text-align: center;
}

.time{
  width: 20rem;
  height: 10rem;
  margin-left: 2rem;
  background: var(--foreground);
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.16);
  position: relative;
  float: left;
}

.time-background{
  width: 100%;
  position: absolute;
  bottom: 0;
}

.time-display{
  z-index: 3;
  position: absolute;
  margin-top: 1rem;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time-display h3{
  font-size: 2rem;
  font-weight: 400;
}

.time-header{
  display: flex;
  align-items: center;
  padding: 0.3rem;
  margin-top: 0.3rem;
}

.time-heading{
  margin-left: 0.5rem;
}

.time-icon{
  color: var(--primary);
  font-size: 2rem;
}

.time .datenmonth{
  font-size: 1rem;
}

.time .daynweek{
  font-size: 0.8rem;
}

/*  END OF TODAY SECTION */

/* TO-DO LIST */

.yourday{
  grid-area: yday;
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 8rem;
}

.yourday h2{
  font-size: 2.5em;
  font-weight: 300;
}

.todo{
  grid-area: todo;
  margin-left: 8rem;
}

.input{
  height: 2.5rem;
  width: 25rem;
  border: none;
  border-radius: 4px 30px 30px 4px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.16);
  padding: 0.1rem 2.6rem 0.1rem 2.6rem;
  outline: none;
  margin-left: -2rem;
}

.textfield-container{
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.textfield-container .tick{
  font-size: 1.5rem;
  z-index: 3;
  color: var(--primary);
}

.input-container{
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.add{
  height: 2.5rem;
  width: 2.5rem;
  background: var(--primary);
  border: none;
  margin-left: -2.5rem;
  z-index: 3;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  position: relative;
  box-shadow: -3px 0 6px rgba(0,0,0,0.16);
}

.add i{
  font-size: 1.5rem;
  color: var(--foreground);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.itemdisplay{
  height: 20rem;
  width: 24rem;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: .2s;
  scroll-behavior: smooth;
}

.itemdisplay::-webkit-scrollbar{
  width: 0.4rem;
  border-radius: 30px;
  transition: .2s;
}

.itemdisplay::-webkit-scrollbar-track{
  background: #fafafa;
  height: 20rem;
  transition: .2s;
}

::-webkit-scrollbar-thumb{
  background: var(--primary);
  border-radius: 30px;
  cursor: pointer;
  transition: .2s;
}

.itemdisplay ul{
  list-style-type: none;
}

.item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 1rem;
  width: 22rem;
  height: 2.5rem;
  background: var(--foreground);
  padding: 0.8rem 1rem;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.10);
  font-size: 0.875rem;
  cursor: pointer;
  transition: .2s;
  /* make the list items unselectable */
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.remove-container i{
  font-size: 1.25rem;
  color: var(--alert);
  transition: .2s;
  cursor: pointer;
  padding: 0.5rem 0.25;
}

.remove-container i:hover{
  color: var(--alert-hover);
}

.item.checked i{
  color: #fff;
}

.item:first-child{
  margin-top: 0;
}

.item:hover{
  box-shadow: 2px 3px 6px rgba(0,0,0,0.16);
}

.item.checked{
  background: var(--primary);
  color: var(--foreground);
  text-decoration: line-through;
}

/* END OF TO-DO */

.news{
  grid-area: news;
  margin-left: 12.5rem;
  margin-top: 2rem;
  width: 42rem;
  margin-bottom: 2rem;
  position: relative;
  overflow: scroll;
  border-radius: 4px;
}

.news::-webkit-scrollbar{
  display: none;
}

.article{
  width: 100%;
  border-radius: 4px;
  height: 10rem;
  background: var(--foreground);
  padding: 0rem 0 0 1rem;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.16);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 2rem;
}

.article:first-child{
  margin-top: 0;
}

.author{
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-weight: 700;
  margin-left: 0.2rem;
}

.headline{
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 0.5rem;
}

.oneliner{
  font-size: 0.875rem;
  color: var(--secondary-text);
  margin-top: 0.5rem;
  width: 96%;
}

.photo{
  width: 15rem;
  height: 100%;
  background: #eee;
  border-radius: 0 4px 4px 0;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.16);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* .article-photo{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0 4px 4px 0;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.16);
} */

.source{
  color: var(--primary);
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  transition: .2s;
}

.source:hover, .source:hover>i{
  color: #338a3e;
}

.source i{
  color: var(--primary);
  font-size: 1rem;
  margin-left: 0.1rem;
}

.quote{
  grid-area: quote;
  width: 100%;
  text-align: center;
}

.quote-text{
  font-size: 1rem;
  color: var(--primary-text);
  font-weight: 300;
  font-style: italic;
}

.quote-text i{
  color: var(--primary);
  font-size: 0.875rem;
  vertical-align: super;
  font-style: italic;
  margin: 0;
  padding: 0;
}

.qmark1{
  transform: rotate(180deg);
}

.quote-author{
  color: var(--primary);
  margin: -0.875rem;
}

.info-btn{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  margin: 0;
  padding: 0;
}

.info-btn i{
  color: var(--primary);
  font-size: 2rem;
  cursor: pointer;
}
