.header-container{
  grid-area: header;
  margin-left: 3rem;
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo{
  width: 4.5rem;
  margin: 0;
  padding: 0;
}

.title{
  font-size: 3.5em;
  font-weight: 300;
  text-align: left;
  margin: 0;
  padding: 0;
  margin-left: 1rem;
}

.today{
  grid-area: today;
  width: 100%;
  margin-left: 8.5rem;
  display: flex;
  align-items: center;
}

.today h2{
  font-size: 2.5em;
  font-weight: 300;
}

.weather{
  grid-area: weather;
  width: 20rem;
  height: 10rem;
  margin-left: 8.5rem;
  background: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.16);
  position: relative;
}

.weather-background{
  width: 100%;
  position: absolute;
  bottom: 0;
}

.weather-header{
  display: flex;
  align-items: center;
  padding: 0.3rem;
  margin-top: 0.3rem;
}

.weather-icon{
  color: var(--highlight);
  font-size: 2rem;
}

.weather-heading{
  margin-left: 0.5rem;
}

.refresh-icon{
  position: absolute;
  margin-right: 0.3rem;
  right: 0;
  color: var(--secondary);
  font-size: 1.5rem;
  cursor: pointer;
}

.location{
  font-size: 1rem;
}

.last-refreshed{
  font-size: 0.8rem
}

.weather-display{
  z-index: 99;
  position: absolute;
  margin-top: 1rem;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.degrees{
  font-size: 2rem;
  font-weight: 400;
}

.time{
  grid-area: time;
  width: 20rem;
  height: 10rem;
  margin-left: 1rem;
  background: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.16);
  position: relative;
}

.time-background{
  width: 100%;
  position: absolute;
  bottom: 0;
}

.time-display{
  z-index: 99;
  position: absolute;
  margin-top: 1rem;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time-display h3{
  font-size: 2rem;
  font-weight: 400;
}

.time-header{
  display: flex;
  align-items: center;
  padding: 0.3rem;
  margin-top: 0.3rem;
}

.time-heading{
  margin-left: 0.5rem;
}

.time-icon{
  color: var(--highlight);
  font-size: 2rem;
}

.time .date{
  font-size: 1rem;
}

.time .day{
  font-size: 0.8rem;
}
